<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/plantilla :: head">
<meta charset="UTF-8">
<title>Inicio</title>
</head>
<body>
	<header th:replace="layout/plantilla :: header"></header>
	<section th:replace="layout/botonesAgregar :: botonesAgregar"></section>
    <section th:replace="layout/agregarCliente :: agregarCliente"></section>
    <section th:replace="layout/listadoClientes :: listadoClientes"></section>
	<footer th:replace="layout/plantilla :: footer"></footer>

	<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/agregar}">[[#{accion.agregar}]]</a>
	<div th:if="${personas != null and !personas.empty}">
		<table border="1">
			<tr>
				<th>Id</th>
				<th>[[#{persona.nombre}]]</th>
				<th>[[#{persona.apellido}]]</th>
				<th>[[#{persona.email}]]</th>
				<th>[[#{persona.telefono}]]</th>
				<th>[[#{accion.editar}]]</th>
				<th sec:authorize="hasRole('ROLE_ADMIN')">[[#{accion.eliminar}]]</th>
			</tr>
			<tr th:each="persona : ${personas}">
				<td th:text="${persona.idPersona}"></td>
				<td th:text="${persona.nombre}"></td>
				<td th:text="${persona.apellido}"></td>
				<td th:text="${persona.email}"></td>
				<td th:text="${persona.telefono}"></td>
				<td><a th:href="@{/editar/} + ${persona.idPersona}" />[[#{accion.editar}]]
				</td>
				<!--  <td> <a th:href="@{/eliminar/} + ${persona.idPersona}"/>[[#{accion.eliminar}]] </td>-->
				<td sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/eliminar(idPersona=${persona.idPersona})}" />[[#{accion.eliminar}]]</td>
			</tr>
		</table>
	</div>
	<div th:if="${personas == null or personas.empty}">
		[[#{persona.lista-vacia}]]</div>
</body>
</html>